body {
    background-color: #9d9ea3;
    width: 100%;
}


/**HEADER**/

.header {
    text-align: center;
}

.title {
    font-family: 'Staatliches', cursive;
    font-size: 5em;
    margin: 3rem 0 1rem 0;
}

@media (max-width: 768px) {
    .title {
        font-size: 4.9em;
        padding: .5rem;
    }
}

.title:hover {
    cursor: pointer;
}

.title span {
    display: inline-block;
    position: relative;
    letter-spacing: -8px;
    transition: all 0.2s ease-out;
}

.char1 {
    color: #BE4058;
    text-shadow: #941438 -4px 4px 0;
    transform: rotate(-3deg);
}

.char1:hover {
    transform: rotate(10deg);
}

.char2 {
    color: #701B2C;
    text-shadow: #470216 -4px 4px 0;
}

.char3 {
    color: #BDB753;
    text-shadow: #948C22 -4px 4px 0;
    top: -1px;
    transform: rotate(2deg);
}

.char3:hover {
    transform: rotate(15deg);
}

.char4 {
    color: #2D94BD;
    text-shadow: #047294 -4px 4px 0;
    top: -7px;
    margin-right: 20px;
}

.char5 {
    color: #215A70;
    text-shadow: #063847 -4px 4px 0;
}

.char5:hover {
    transform: rotate(-20deg);
}

.char6 {
    color: #BE4058;
    text-shadow: #941438 -4px 4px 0;
    top: -7px;
    transform: rotate(2deg);
    margin-right: 20px;
}

.char7 {
    color: #BDB753;
    text-shadow: #948C22 -4px 4px 0;
    margin-right: 20px;
}

.char8 {
    color: #215A70;
    text-shadow: #063847 -4px 4px 0;
    top: 1px;
    transform: rotate(-2deg);
}

.char8:hover {
    transform: rotate(-20deg);
}

.char9 {
    color: #701B2C;
    text-shadow: #470216 -4px 4px 0;
    transform: rotate(-3deg);
}

.char9:hover {
    transform: rotate(15deg);
}

.char10 {
    color: #2D94BD;
    text-shadow: #047294 -4px 4px 0;
    top: -7px;
}

.char10:hover {
    top: 17px;
}

.char11 {
    color: #BDB753;
    text-shadow: #948C22 -4px 4px 0;
}

.char12 {
    color: #BE4058;
    text-shadow: #941438 -4px 4px 0;
}

.char12:hover {
    transform: rotate(20deg);
}

.char13 {
    color: #701B2C;
    text-shadow: #470216 -4px 4px 0;
}

.char14 {
    color: #BDB753;
    text-shadow: #948C22 -4px 4px 0;
    top: -7px;
}

.char14:hover {
    top: 17px;
}

.char15 {
    color: #2D94BD;
    text-shadow: #047294 -4px 4px 0;
}

.char16 {
    color: #215A70;
    text-shadow: #063847 -4px 4px 0;
    top: -1px;
    transform: rotate(2deg);
}

.char16:hover {
    transform: rotate(20deg);
}

.char17 {
    color: #701B2C;
    text-shadow: #470216 -4px 4px 0;
    margin-right: 20px;
    top: -1px;
    transform: rotate(-2deg);
}

.char18 {
    color: #BE4058;
    text-shadow: #941438 -4px 4px 0;
}

.char19 {
    color: #BE4058;
    text-shadow: #941438 -4px 4px 0;
    top: 4px;
}

.char19:hover {
    top: -17px;
}

.title-description {
    font-size: 1.2em;
    text-align: center;
    width: 30rem;
    margin: 0 auto 2.5rem auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: rgb(212, 212, 212);
}

@media (max-width: 768px) {
    .title-description {
        width: auto;
    }
}


/**MAIN**/


/**List**/

.container {
    width: 20rem;
    margin: 0 auto;
    padding: 0 .5rem;
}

@media (max-width: 768px) {
    .container {
        width: auto;
    }
}

.list {
    color: rgb(221, 212, 212);
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 2rem;
}

.list ul {
    margin: 0;
    list-style: upper-roman;
}


/**Form**/

.check {
    margin: 0 auto;
    text-align: center;
    color: rgb(221, 212, 212);
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.check label {
    font-size: 2rem;
    color: #BE4058;
    text-shadow: #941438 -2px 2px 0;
}

.check span {
    color: #cfc95a;
    text-shadow: #948C22 -2px 2px 0;
}

.check input {
    font-size: 2rem;
    border-radius: 20px;
    margin: 1rem 0;
    text-align: center;
    border: none;
}

.check input::placeholder {
    font-size: 1.2rem;
    transform: translateY(-5px);
    color: rgb(196, 196, 196);
}

#check {
    width: 20rem;
    height: 2.5rem;
}

@media (max-width: 768px) {
    #check {
        width: 80%;
        height: auto;
    }
}

.button {
    background-color: #e6e071;
    font-family: 'Caveat Brush', cursive;
    border-radius: 50%!important;
    border: none;
    width: 7.2rem;
    height: 7rem;
    font-size: 2rem!important;
    font-weight: 600;
    transform: rotate(-25deg);
    color: #6ab9d8;
    text-transform: uppercase;
    text-shadow: #047294 -1px 1px 0;
    transition: transform .7s;
    margin: 0!important;
}

@media (max-width: 768px) {
    .button {
        width: auto;
        height: 7rem;
        font-size: 2.3rem!important;
    }
}

.button:hover {
    text-shadow: #BE4058 -2px 2px 3px;
    transform: rotate(15deg);
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    cursor: pointer;
}

input:focus,
button:focus {
    outline: none;
}

.answer {
    height: 5.5 rem;
    width: 20rem;
    margin: 0 auto;
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 2rem;
}


/**Footer**/

.footer {
    display: flex;
    justify-content: flex-end;
    height: 2.5rem;
    background-color: dimgrey;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: rgb(212, 212, 212);
    font-size: 1.1rem;
    padding: .9rem .9rem .5rem 0;
}

.footer p {
    margin: .5rem .6rem 0 0;
}

.footer i {
    color: whitesmoke;
    font-size: 2rem;
    margin: 0 .5rem;
}